<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497519499265-fc65i96h9ifq1vptpibev7j41d3genoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497519499265-fc65i96h9ifq1vptpibev7j41d3genoh</string>
	<key>API_KEY</key>
	<string>AIzaSyCWlKt8dHAC4vFLodTHZH9D924JO-IebBw</string>
	<key>GCM_SENDER_ID</key>
	<string>497519499265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task31Agency</string>
	<key>PROJECT_ID</key>
	<string>task31agency</string>
	<key>STORAGE_BUCKET</key>
	<string>task31agency.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497519499265:ios:c1ea1dad28c666906d8800</string>
</dict>
</plist>